<!DOCTYPE html>
<html lang=zh-cn>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=0">
	<title>我的新标签页</title>

	<link rel="stylesheet" href="https://cdn.liuyajie.com/normalize.css/normalize.css">
	<link rel="stylesheet" href="https://cdn.liuyajie.com/bootstrap/4.4.1/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.liuyajie.com/fontawesome/5.12.1/css/all.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<main id="app">
		<div id="content" class="container row">

			<div id="json" class="tab" :class="current_tab === 'json'? 'col-6' : 'col'" @mouseover="switch_tab('json')">
				<header>
					<h1>JSON</h1>
				</header>

				<section v-if="json.length > 0">
					<ul>
						<li v-for="(item, index) in json" :key="'json-' + index">
							<a :title="item.name" :href="item.url" target="_blank">
								<img :src="'chrome://favicon/' + item.url" /> {{item.name}}
							</a>
						</li>
					</ul>
				</section>
			</div>

			<div id="bookmark" class="tab" :class="current_tab === 'bookmark'? 'col-6' : 'col'"
				@mouseover="switch_tab('bookmark')">
				<header>
					<h1>书签</h1>
				</header>

				<section v-if="bookmarks.length > 0">
					<ul>

					</ul>
				</section>
			</div>

			<div id="history" class="tab" :class="current_tab === 'history'? 'col-6' : 'col'"
				@mouseover="switch_tab('history')">
				<header class="row">
					<h1 class="col">浏览历史</h1>

					<span v-if="history.length > 0" @click.prevent="clear_history" class="btn btn-outline-primary"
						type="button">清空</span>
				</header>

				<section v-if="history.length > 0">
					<ul>
						<li v-for="(item, index) in history" :key="'history-' + index">
							<a class="item-link" :title="compose_history_title(item)" :href="item.url" target="_blank">
								<img :src="'chrome://favicon/' + item.url" />
								{{item.title}}
								<span class="action-delete" title="删除此项" @click.prevent.stop="clear_history(item, index)">
									<i class="fal fa-trash"></i>
								</span>
							</a>
						</li>
					</ul>
				</section>
			</div>

		</div>
	</main>

	<footer id="footer" class="container">
		<a href="/options.html" target="_blank"><i class="fal fa-cog"></i> 设置</a>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/new_tab2.js"></script>
</body>

</html>