<!DOCTYPE html>
<html lang=zh-cn>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=0">
	<title>我的新标签页</title>

	<link rel="stylesheet" href="https://cdn.liuyajie.com/normalize.css/normalize.css">
	<link rel="stylesheet" href="https://cdn.liuyajie.com/bootstrap/4.4.1/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.liuyajie.com/fontawesome/5.12.1/css/all.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/new_tab.css">
</head>

<body id="new_tab">
	<main id="app">
		<div id="content" class="container row">

			<div id="json" class="tab col" :class="current_tab === 'json'? 'active' : 'col'" @mouseover="switch_tab('json')">
				<header>
					<h1><i class="fal fa-file"></i> JSON</h1>
				</header>

				<section v-if="json.length > 0">
					<ul>
						<li v-for="(item, index) in json" :key="'json-' + index">
							<a :title="item.name" :href="item.url" target="_blank">
								<img :src="'chrome://favicon/' + item.url" /> {{item.name}}
							</a>
						</li>
					</ul>
				</section>
			</div>

			<div id="bookmark" class="tab col" :class="current_tab === 'bookmark'? 'active' : 'col'"
				@mouseover="switch_tab('bookmark')">
				<header>
					<h1><i class="fal fa-bookmark"></i> 书签</h1>
				</header>

				<section v-if="bookmarks.length > 0">
					<div v-for="(top_nodes, index) in bookmarks" :key="'node-' + index">
						<header>
							<h2>{{ top_nodes.title }}</h2>
							<small>{{ top_nodes.children.length }}项</small>
						</header>

						<ul v-if="top_nodes.children.length>0">
							<li v-for="(item, index) in top_nodes.children" :key="'history-' + index">
								<a class="item-link" :title="compose_bookmark_title(item)" :href="item.url" target="_blank">
									<img :src="'chrome://favicon/' + item.url" />
									{{item.title}}
									<span class="action-delete" title="删除此项" @click.prevent.stop="clear_bookmark(item.id)">
										<i class="fal fa-trash"></i>
									</span>
								</a>
							</li>

						</ul>
					</div>
				</section>
			</div>

			<div id="history" class="tab col" :class="current_tab === 'history'? 'active' : 'col'"
				@mouseover="switch_tab('history')">
				<header>
					<h1><i class="fal fa-history"></i> 浏览历史</h1>

					<span v-if="history.length > 0" title="清空所有历史记录" class="btn btn-outline-primary"
						@click.prevent="clear_history">
						<i class="fal fa-eraser"></i>
					</span>
				</header>

				<section v-if="history.length > 0">
					<ul>
						<li v-for="(item, index) in history" :key="'history-' + index">
							<a class="item-link" :title="compose_history_title(item)" :href="item.url" target="_blank">
								<img :src="'chrome://favicon/' + item.url" />
								{{item.title}}
								<span class="action-delete" title="删除此项" @click.prevent.stop="clear_history(item, index)">
									<i class="fal fa-trash"></i>
								</span>
							</a>
						</li>
					</ul>
				</section>
			</div>

		</div>
	</main>

	<footer id="footer" class="container">
		<a href="/options.html" target="_blank"><i class="fal fa-cog"></i> 设置</a>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/new_tab2.js"></script>
</body>

</html>